#hero-section{
    background-image: url(IMAGES/pizza4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    display: flex;
    flex-direction: row;
}

#logo {
    width: 180px;
    margin-top: 40px;
}

#logodiv {
    width: 400px;
    padding-left: 100px;

}

#nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 48px;
    font-size: 28px;
    color: white;
}

#navbar {
    display: flex;
    width: 1100px;
    padding-left: 180px;

}

#navbar>ul>li {
    width: 140px;
}

#navbar>button {
    background-color: #7CA22D;
    width: 170px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    border: none;
    color: white;
    margin-top: 44px;
    margin-left: 52px;
}

.global-button{
    background-color: #7CA22D;
    width: 170px;
    height: 48px;
    border-radius: 24px;
    font-size: 18px;
    border: none;
    color: white;
    margin-bottom: 48px;
    font-weight: bold;
}

.radio-buttons{
    display: grid;
    grid-template-columns: auto;
}

#barb{
    width: 100%;
}

.global-button:hover{
    color: #7CA22D;
    background-color: white;
    border: solid #7CA22D 2px;
}

#hero2>p{
    margin-top: 80px;
 font-size: 136px;
 font-weight: bold;
 padding-left: 200px;
 color: white;
}

#hero2 span{
    color: rgb(250, 160, 86);
}

#hero2>h5{
    font-size: 36px;
    padding-left: 380px;
    color: white;
   }

#hero2>img{
width: 100%;
}

.description{
    margin-left: 160px;
    margin-right: 20px;
    display: flex;
 
}

.descriptionparts{
    width: 30%;
    line-height: 30px;
    color: white;
    margin-right: 64px;

}

#yellow{
    background-image: url(IMAGES/pizza2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    padding-top: 450px;
}
  .description>p{
      font-size: 28px;
  } 

  .descriptionparts>img{
      max-width: 100%;
      height: 200px;
      margin-bottom: 24px;
  }

  .menupara{
text-align: center;
margin-top: 48px;
font-size: 48px;
font-style: italic;
color:  rgb(250, 160, 86);
font-weight: bold;
  }

  #menu img{
   width: 260px;
  }

  #menu{
      padding-left: 160px;
      padding-right: 100px;
      margin-bottom: 48px;
  }
.menurowitems{
    border: 1px solid white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    text-align: center;
    margin-top: 28px;
    margin-right: 28px;
}